.article {

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {

  }
}

.article__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.article__block {
  width: 100%;
  max-width: 512px;
  margin-right: 20px;

  @media (max-width: $tablet-width) {
    // max-width: 264px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    margin-right: 0px;
  }
}

.article__block h2 {
  @include font-semibold(28px, 42px);
  color: $color-tangaroa;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    @include font-semibold(26px, 36px);
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    @include font-semibold(24px, 33px);
    max-width: 190px;
    margin-bottom: 30px;

  }
}

.article__block p {
  @include font-regular(16px, 24px);
  color: $color-tangaroa;

  @media (max-width: $mobile-width) {
  }
}

.article__image {
  max-width: 560px;
  width: 100%;

  @media (max-width: $tablet-width) {
    max-width: 324px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
  }
}

.article__image img {
  width: 100%;
  object-fit: cover;

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}