.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 120px 103px 145px;
  gap: 25px;

  @media (max-width: $tablet-width) {
    padding: 100px 50px 100px 45px;
    align-items: flex-start;
    gap: 25px;
    // flex-wrap: nowrap;
  }

  @media (max-width: $mobile-width) {
    padding: 65px 15px 85px;
    flex-direction: column;
    gap: 50px;
    // justify-content: center;
  }
}

.article-block {
  max-width: 512px;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }
}

.article h2 {
  @include font-semibold(28px, 42px);
  color: $color-default-blue;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    @include font-semibold(26px, 36px);
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    @include font-semibold(24px, 33px);
    max-width: 190px;
    margin-bottom: 30px;

  }
}

.article p {
  @include font-regular(16px, 24px);
  color: $color-default-blue;

  @media (max-width: $mobile-width) {
  }
}

.article-image {
  max-width: 100%;
  max-height: 301px;
  object-fit: contain;

  @media (max-width: $tablet-width) {
    max-width: 324px;
    min-height: 264px;
    object-fit: cover;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    min-height: 156px;
    margin-left: auto;
    margin-right: auto;
  }
}