.burger {
  display: none;

  @media (max-width: $tablet-width) {
  }

  @media (max-width: $mobile-width) {
    display: block;
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 0;
    cursor: pointer;
    background-color: transparent;

  }

  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    background-color: $color-alice-blue;
    right: 11px;
    top: 0;
    transform: rotate(90deg);
    box-shadow: 6px 0px $color-alice-blue, -6px 0px $color-alice-blue;
    cursor: pointer;
    z-index: 10;
    transition: all .5s;
  }
}

.burger--opened {
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    background-color: $color-tangaroa;
    right: 11px;
    top: 0;
    transform: rotate(45deg);
    box-shadow: none;
    cursor: pointer;
    z-index: 10;
  }
  &::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    background-color: $color-tangaroa;
    right: 11px;
    top: 0;
    transform: rotate(135deg);
    cursor: pointer;
    z-index: 10;
  }
}