.contacts {

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {

  }
}

.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.contacts__map {
  width: 100%;
  max-width: 560px;
  max-height: 306px;
  margin-right: 100px;

  @media (max-width: $tablet-width) {
    max-width: 324px;
    max-height: 335px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    max-height: 316px;
    margin-right: 0px;
  }
}



.contacts__block {
  color: $color-tangaroa;

  @media (max-width: $tablet-width) {
  }

  @media (max-width: $mobile-width) {
    order: -1;
    flex-grow: 1;
    max-width: 100%;
  }
}

.contacts__block p {
  @include font-medium(18px, 27px);
  color: $color-tangaroa;
  margin-bottom: 45px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.contacts__address {
  @include font-regular(16px, 24px);
  color: $color-tangaroa;
  font-style: normal;
  margin-left: 28px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url("/img/icons/map-mark.svg");
    background-size: cover;
    width: 18px;
    height: 22px;
    left: -28px;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url("/img/icons/phone.svg");
    background-size: cover;
    width: 18px;
    height: 18px;
    left: -28px;
    bottom: 0;
  }


  @media (max-width: $mobile-width) {
    margin-bottom: 43px;
  }
}

.contacts__address a {
  display: block;
  margin-top: 33px;
}

