.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 37px;

  @media (max-width: $tablet-width) {
    top: 30px;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
  }
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    background-color: $color-alice-blue;


  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    background-color: $color-alice-blue;
    right: 30px;
    top: 0;
    transform: rotate(90deg);
    box-shadow: 6px 0px, -6px 0px;
    cursor: pointer;
  }
  }


}