.nav {

}

.nav--header {
  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {
    position: fixed;
    background-color: red;
    height: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    background-size: cover;
    transition: right 500ms, background-color 0.5s;

  }
}



.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 33px;

  @media (max-width: $tablet-width) {
    column-gap: 23px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: start;
    row-gap: 15px;
  }
}

.nav__item {
  margin: 0;
}

.nav__link {
  @include font-medium(16px, 19px);
  color: $color-default-white;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    @include font-medium(12px, 14px);
  }

  @media (max-width: $mobile-width) {
    @include font-medium(12px, 14px);
  }
}

.nav--header .nav__list {
  @media (max-width: $tablet-width) {
    column-gap: 23px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: start;
    row-gap: 15px;
  }
}
.nav--header .nav__link {
  @media (max-width: $tablet-width) {
    @include font-medium(14px, 14px);
  }

  @media (max-width: $mobile-width) {
    @include font-medium(18px, 21px);
    color: $color-tangaroa;
  }
}


.nav--header .nav__list {
  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: start;
    row-gap: 30px;
    padding-top: 75px;
    padding-left: 30px;
  }
}

.nav--opened {
  @media (max-width: $mobile-width) {
    right: -35px;
    background-color: aqua;
  }

  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    background-color: blue;
    right: 11px;
    top: 0;
    transform: rotate(90deg);
    // box-shadow: 6px 0px $color-alice-blue, -6px 0px $color-alice-blue;
    cursor: pointer;
    z-index: 11;
  }

}