.navigation {
  max-height: 38px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    flex-wrap: nowrap;
  }

  @media (max-width: $mobile-width) {

  }
}

.navigation-hearder {

  @media (max-width: $mobile-width) {
    .navigation-list {
      display: none;
    }
  }
}

.navigation-logo-link {
  width: 70px;
  height: 38px;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 42px;
    height: 22px;
  }
}

.navigation-icon {
  width: 70px;
  height: 30px;
  object-fit: contain;

  @media (max-width: $tablet-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 42px;
    height: 22px;
  }
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 594px;
  gap: 33px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    // max-height: 20px;
  }
}

.navigation-link {
  @include font-medium(16px, 19px);
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    @include font-medium(14px, 17px);
  }
}


.navigation-footer {

  .navigation-logo-link {
    margin-right: 25px;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: auto;
    }
  }

  .navigation-list {
    @media (max-width: $tablet-width) {
      gap: 23px;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
    }
  }

  .navigation-link {

    @media (max-width: $tablet-width) {
      @include font-medium(12px, 14px);
    }
  }

}