@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("fonts/MontserratRegular.woff2") format("woff2"),
    url("fonts/MontserratRegular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("fonts/MontserratMedium.woff2") format("woff2"),
    url("fonts/MontserratMedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("fonts/MontserratSemiBold2") format("woff2"),
    url("fonts/MontserratSemiBold") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("fonts/MontserratBold.woff2") format("woff2"),
    url("fonts/MontserratBold.woff") format("woff");
}