@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../font/MontserratRegular.woff2") format("woff2"),
    url("../font/MontserratRegular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../font/MontserratMedium.woff2") format("woff2"),
    url("../font/MontserratMedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../font/MontserratSemiBold.woff2") format("woff2"),
    url("../font/MontserratSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../font/MontserratBold.woff2") format("woff2"),
    url("../font/MontserratBold.woff") format("woff");
}