/*
@media (min-resolution: 2dppx) {
  background-image: url("/img/intro-background-desktop@2x.jpg");
}

@media (max-width: $tablet-width) {
  background-image: url("/img/intro-background-tablet.jpg");
  @media (min-resoluton: $retina-dppx) {
    background-image: url("/img/intro-background-tablet@2x.jpg");
  }
}

@media (max-width: $mobile-width) {
  background-image: url("/img/intro-background-mobile.jpg");
  @media (min-resoluton: $retina-dppx) {
    background-image: url("/img/intro-background-mobile@2x.jpg");
  }
}

*/


@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}

// - 320px - 767px — мобильная версия;
//     - 768px - 1023px — планшетная версия;
//     - 1024px и выше — десктопная версия.