$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;



@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}

// - 320px - 767px — мобильная версия;
//     - 768px - 1023px — планшетная версия;
//     - 1024px и выше — десктопная версия.