// Colors
// ---------------------------------

//Default
$color-default-white: #ffffff;
$color-default-black: #000000;

//Project palette
$color-alice-blue:      #f9fbfd;
$color-tangaroa:        #011c40;
$color-sapphire:        #101a56;
$color-quartz:          #d8d8d9;
$color-sail:            #A4D0F2;
$color-lochmara:        #2f71ae;
$color-mercury:         #e5e5e5;

// Viewports
// ---------------------------------

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
